body{
    font-family: 'Montserrat';
}

.video-container {
    position: relative;
    overflow: hidden;
}

.video-container video {
    width: 100%;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-overlay h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: black;
}

.video-overlay .btn {
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 50px;
}
